<div id="top">
  <div id="headline_block">
    <table id="headline_body">
      <tbody>
        <% @posts.each do |post| %>
          <%= date_label(post) %>
          <tr>
            <td width="50px"><%= post.created_at.to_fs(:time) %></td>
            <td class="mawarikomi" width="500px">
              <%= link_to post.url, target: "_blank", data: { ob: true } do %>
                <%= post.name %>
              <% end %>
            </td>
            <td><%= link_to post.site.name, post.site.url, target: "_blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="main">
    <ul id="sites">
      <% @sites.each_with_index do |site, index| %>
        <li class="content">
          <div class="sitetitle">
            <%= link_to site.name, site %>
          </div>
          <ul>
            <% (@site_id_posts_map[site.id] || []).each do |post| %>
              <li class="post_by_site">
                <%= link_to post.name, post.url, target: '_blank', data: { ob: true } %>
              </li>
            <% end %>
            <li class="post_by_site" style="text-align:right">
              <%= link_to "続きを見る", site %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
