<li class="tag_post">
  <div class="hidden" data="post-content"><%= post.only_image_tags_by_content %></div>
  <div class="tag_post_image"></div>
  <div class="tag_post_body">
    <p>
      <div><%= link_to post.name, post %></div>
      <div class="text-right"><%= link_to post.site.name, post.site.url, target: :_blank %></div>
    </p>
    <p class="tag_post_body_preview mawarikomi"><%= truncate(strip_tags(post.content_without_script_tag), length: 600) %></p>
    <div class="scraped-images"></div>
    <div class="category">
      <span>カテゴリ：</span>
      <%= link_to post.site.category.name, category_path(post.site.category.slug) %>
    </div>
    <div>
      <span>サイト(当サイト内へのリンク)：</span>
      <%= link_to post.site.name, post.site %>
    </div>
    <div class="tag_post_tags"></div>
    <div class="text-right"><%= post.created_at.to_s(:published_on) %></div>
  </div>
</li>
