<!DOCTYPE html>
<html>
  <head>
    <title>ぺろぺろあんてな</title>
    <link rel="icon" type="image/png" href="data:image/png;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA4KJeAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEAAQAAAAABEQABEAAAABERAAERAAABERAAABEAABERAAAAEQABEQAAAAABABEQAAAAAAEREQAAAAAAAREQABEAAAABERABERAAAAARABEAEQAAAAAAEQARAAAAAAABERAAAAAAAAARAAD//wAA//8AAP/zAAC/4wAAn8MAAI+HAADPDwAAzj8AAOx/AADg/wAA4c8AAOGHAADzMwAA/zMAAP+HAAD/zwAA">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <%# NOTE: HTMLだけで完結するようにハードコートする %>
    <%= render 'layouts/style' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= yield %>
  </body>
</html>
