<!DOCTYPE html>
<html>
  <head>
    <title>ぺろぺろあんてな</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <%# NOTE: HTMLだけで完結するようにハードコートする %>
    <%= render 'layouts/style' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= yield %>
  </body>
</html>
